{% extends 'layout.twig' %}
{% import _self as macro %}
{% block content %}
  <div class="row">
    <h1>{{ title }}</h1>

    {{ report.getDescription|markdown }}

    {% if report.unitList|length > 1 %}
    <ul>
      {% for unitName, unit in report.unitList %}
        <li><a href="#{{ unitName|slugify }}">{{ unitName }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% for unitName, unit in report.unitList %}
      {{ block('unit') }}
    {% endfor %}

    <dl>
      <dt><a href="https://github.com/nochso/benchmark">nochso/Benchmark</a></dt>
      <dd>{{ constant('nochso\\Benchmark\\Report::BENCHMARK_VERSION') }}</dd>
      <dt>ran each test</dt>
      <dd>&gt; {{ min_duration }} ms</dd>

      <dt>on</dt>
      <dd>{{ macro.datetime('now') }}</dd>
      <dt>in</dt>
      <dd>{{ duration|number_format(1) }} seconds</dd>
      <dt>using PHP</dt>
      <dd>{{ constant('PHP_VERSION') }}</dd>
      <dt><span title="only Zend extensions are listed">with</span></dt>
      {% for ext in zend_extensions %}
        <dd>{{ ext }}</dd>
      {% else %}
        <dd>no Zend extensions</dd>
      {% endfor %}
      <dt>on</dt>
      <dd>{{ os }}</dd>
    </dl>
  </div>
{% endblock %}

{% macro datetime(dt) %}
  {% set rfc3339 = dt|date(constant('DateTime::RFC3339')) %}
  <time datetime="{{ rfc3339 }}" title="{{ rfc3339 }}">{{ dt|date('M. jS, Y H:i T') }}</time>
{% endmacro %}

{% block unit %}
  <h2><a name="{{ unitName|slugify }}"></a> {{ unitName }}</h2>
  <table>
    <thead>
    <tr>
      <th>Method</th>
      {% set params = report.unitList.get(unitName).getParams %}
      {% for param in params %}
        <th>{{ param }}</th>
      {% endfor %}
      <th>Average &oslash;</th>
    </tr>
    </thead>
    <tbody>
    {{ block('methods') }}
    </tbody>
  </table>
{% endblock %}

{% block methods %}
  {% for methodName, method in unit.getMethods %}
    <tr>
      <td>
        <label class="collapse" for="_{{ methodName|slugify }}">{{ methodName|markdown }}</label>
        <input id="_{{ methodName|slugify }}" type="checkbox">
        <div>
          {{ method.getDescription|markdown }}
          <pre><code>{{ method.getSourceCode }}</code></pre>
        </div>
      </td>
      {% for result in unit.getResult.getMethodResults(method) %}
        <td>{{ result }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
{% endblock %}