{% extends 'layout.twig' %}
{% import _self as macro %}
{% block content %}
  <div class="row">
    <h1>{{ title }}</h1>

    {{ report.getDescription|markdown }}

    {% if report.unitList|length > 1 %}
    <ul>
      {% for unitName, unit in report.unitList %}
        <li><a href="#{{ unitName|slugify }}">{{ unitName }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    <hr>
    {% for unitName, unit in report.unitList %}
      {{ block('unit') }}
    {% endfor %}
    <hr>
    <dl>
      <dt><a href="https://github.com/nochso/benchmark">nochso/Benchmark</a></dt>
      <dd>{{ constant('nochso\\Benchmark\\Report::BENCHMARK_VERSION') }}</dd>
      <dt>ran each test</dt>
      <dd>&gt; {{ min_duration }} ms</dd>

      <dt>on</dt>
      <dd>{{ macro.datetime('now') }}</dd>
      <dt>in</dt>
      <dd>{{ duration|number_format(1) }} seconds</dd>
      <dt>using PHP</dt>
      <dd>{{ constant('PHP_VERSION') }}</dd>
      <dt><span title="only Zend extensions are listed">with</span></dt>
      {% for ext in zend_extensions %}
        <dd>{{ ext }}</dd>
      {% else %}
        <dd>no Zend extensions</dd>
      {% endfor %}
      <dt>on</dt>
      <dd>{{ os }}</dd>
    </dl>
  </div>
{% endblock %}

{% macro datetime(dt) %}
  {% set rfc3339 = dt|date(constant('DateTime::RFC3339')) %}
  <time datetime="{{ rfc3339 }}" title="{{ rfc3339 }}">{{ dt|date('M. jS, Y H:i T') }}</time>
{% endmacro %}

{% block unit %}
  <h2><a name="{{ unitName|slugify }}"></a> {{ unitName }}</h2>
  {{ unit.getDescription|markdown }}
  {% if loop.first %}
    <input id="result-note" type="checkbox" class="hide" />
    <div class="note" id="show">
    <label for="result-note" class="hide">&times;</label>
    {% markdown %}
    #### Explanation of results
    Results are measured in **operations per second** (K = 1000, M = 1,000,000).

    The **method score** is based on the average. The fastest method always has a base score of 1x and other
    methods are compared to it. For example a score of 3x means it's 3 times slower than the fastest method.

    You can show or hide the **source code** of any method by clicking on the
    <a href="#"><label class="collapse" for="_{{ unit.getMethods|first.getName|slugify }}">method name</label></a>.
    {% endmarkdown %}
    </div>
  {% endif %}
  {# Tables escape the container div to allow full width #}
  </div></div>
  <table>
    <thead>
    <tr>
      <th>Method</th>
      {% for result in unit.getResult.getMethodResults(unit.getMethods|first, true) %}
        <th>
          {% if result.getParameter is not null %}
            {{ result.getParameter.getName }}
          {% endif %}
        </th>
      {% endfor %}
      <th>Score</th>
    </tr>
    </thead>
    <tbody>
    {{ block('methods') }}
    </tbody>
  </table>
  <div class="container"><div class="row">
{% endblock %}

{% block methods %}
  {% for methodName, method in unit.getMethods %}
    <tr>
      <td>
        <label class="collapse" for="_{{ methodName|slugify }}">{{ methodName|markdown }}</label>
        <input id="_{{ methodName|slugify }}" type="checkbox">
        <div>
          {{ method.getDescription|markdown }}
          <pre><code>{{ method.getSourceCode }}</code></pre>
        </div>
      </td>
      {% set unitResult = unit.getResult %}
      {% for result in unitResult.getMethodResults(method, true) %}
        <td class="text-right"{% if result.getParameter is not null %} style="background-color: {{ unitResult.getParameterScoreColor(result) }}; color: {{ unitResult.getParameterScoreColor(result)|text_color }}"
        {% else %}
         style="background-color: {{ unitResult.getMethodScoreColor(method) }}; color: {{ unitResult.getMethodScoreColor(method)|text_color }}"
        {% endif %}>
        {% set resultSlug = "_" ~ (unit.getName~methodName~result.getParameter.getName)|slugify %}
          <label class="collapse" for="{{ resultSlug }}">{{ result }}</label>
            <input id="{{ resultSlug }}" type="checkbox">
            <div style="color:#000000">
              {{ result.getPrettyOperations }} operations in {{ result.getPrettyDuration }}
            </div>
        </td>
      {% endfor %}
      <td class="text-right score" style="background-color: {{ unitResult.getMethodScoreColor(method) }}; color: {{ unitResult.getMethodScoreColor(method)|text_color }}">
        {{ unitResult.getMethodScore(method)|number_format(1) }}
      </td>
    </tr>
  {% endfor %}
{% endblock %}